body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 8vw;
    padding-bottom: 5%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 55%;
    gap: 4%;
    
}

.start-button { 
    height: 50%;
    width: 60%;
    font-size: 6vw;
    border:none;
    background-color:rgb(28, 169, 122);
    color: white;
    border-radius: 5% 5% 0 0;
}

.button-container .other-buttons {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 6%; 
    height: 20%; 
}

.button-container .other-buttons button {
    flex: 1;
    font-size: 5vw; 
    border:none;
    color: white;
    background-color:rgb(102, 216, 102);
}