.contact-link {
    text-decoration: none;
    color: black; 
    display: block; 
  }
  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
  }
  
  .contact-list {
    margin: 20px;
  }
  
  .contact {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .photo-container {
    margin-right: 15px;
  }
  
  .contact-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
  }
  
  .contact-info h3, .contact-info p {
    margin: 0;
  }
  
  #back-button{
    display: inline-block;
    padding: 2% 4%;
    background-color:rgb(28, 169, 122);
    font-size: 3vw; 
    color: white; 
    text-decoration: none; 
    border-radius: 5%;
    /* margin-right: 120px;  */
}