body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
}

#header-container {
    width: 100%;
    max-width: 768px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#back-button {
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

#contact-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

#contact-name {
    font-size: 20px;
    font-weight: bold;
}

main {
    padding: 20px;
}

#message-container {
    max-width: 768px;
    margin: 0 auto;
    min-height: 100px; 
}

#message-container div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: inline-block;
}

#back-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 24px; 
    color: #000; 
    text-decoration: none; 
    margin-right: 20px; 
}

.message-sender, .message-receiver {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: inline-block;
    max-width: 60%;
}

.message-sender {
    background-color: #d1e7ff;

}

.message-receiver {
    background-color: #f2f2f2; 
}

.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e0e0e0;
}

.chat-icon, .emoji-icon {
    width: 24px; 
    margin: 0 10px;
}

.input-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #fff; 
    border-radius: 20px; 
    padding: 5px 10px;
}

.input-box input {
    width: 100%;
    border: none;
    margin-left: 10px;
    outline: none;
}

body {
    padding-bottom: 60px; 
}
