body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header {
    padding: 10px;
    display: flex;
    align-items: center;
}

#header-container {
    width: 100%;
    max-width: 768px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#back-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 24px; 
    color: #000; 
    text-decoration: none; 
    margin-right: 20px; 
}

#contact-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

#contact-name {
    font-size: 20px;
    font-weight: bold;
}

main {
    padding: 20px;
}

#message-container {
    max-width: 768px;
    margin: 0 auto;
    min-height: 100px; 
}

#message-container div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: inline-block;
    word-wrap: break-word;
}

.message-sender, .message-receiver {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 60%;
}

.message-sender {
    background-color: #d1e7ff;
}

.message-receiver {
    background-color: #f2f2f2; 
}

.chat-input-container {
    display: flex;
    align-items: center;
    padding: 1%;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-icon, .emoji-icon {
    width: 3%; 
    margin: 0 0;
}

.input-box {
    flex-grow: 1;
    /* display: flex; */
    text-align: right;
    background-color: #f2f2f2; 
    border-radius: 24px; 
    padding: 1% 1%;
}

/* body {
    padding-bottom: 60px; 
} */

#options-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.option-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.option-button:hover {
    background-color: #0056b3;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    #header-container {
        max-width: 100%;
    }

    #message-container {
        max-width: 100%;
    }

    .chat-icon, .emoji-icon {
        width: 30px; 
    }

    .input-box input {
        font-size: 1.2rem;
    }

    header {
        padding: 15px;
    }

    #back-button {
        display: inline-block;
        padding: 5px 10px;
        font-size: 24px; 
        color: #000; 
        text-decoration: none; 
        margin-right: 20px; 
    }

    #contact-image {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    #contact-name {
        font-size: 24px;
    }

    main {
        padding: 30px;
    }

    .message-sender, .message-receiver {
        padding: 15px;
    }

    .chat-input-container {
        padding: 15px;
    }

    .input-box {
        padding: 10px 15px;
    }

    body {
        padding-bottom: 80px;
    }
}

